.app-header {
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.login-button {
    float: right;
} 

.form-align {
    align-self: center;
    align-content: center;
    align-items: center;
    align-content: center;

} 

.container {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .content {
    top: '50%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    marginRight: '-50%';
    transform: 'translate(-50%, -50%)';
}

